input:valid{
border-color: green;
}
input:invalid{
    border-color: red;
}
input{
    border-color: grey;
}
body{
    background-color: pink;
}
main{
    text-align: center;
}
h1{
    font-size: 50px;
}
form{
    font-size: 30px;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}
button{
    height:30px;
    width: 100px;
    background-color: green;
    color:white;
    border-radius: 5px;
}